::-moz-selection {color: white;background: #e92222;}
::selection {color: white;background: #e92222;}
:focus {outline: none;}
* {margin: 0;padding: 0;}
html {overflow-x: hidden;}
html,body,button,input,optgroup,a,span,form,div,ul,li,p,strong,em,div,h1,h2,h3,h4,h5,h6,section,main,select,textarea {font-family: iranyekan;}
s